<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="resource">
                <label class="left-label">HP</label>
                <input type="number" name="data.hp.value" value="{{systemData.hp.value}}"/>
                <span> / </span>
                <input type="number" name="data.hp.max" value="{{systemData.hp.max}}"/>
            </div>
            <div class="resource">
                <label class="left-label">XP</label>
                <input type="number" name="data.xp.value" value="{{systemData.xp.value}}"/>
                {{#if isCharacter}}
                <span> / </span>
                <input type="number" name="data.xp.max" value="{{systemData.xp.max}}"/>
                {{/if}}
            </div>
            <div class="properties">
                <div class="property">
                    <label class="property-label">AC / DR</label>
                    <label class="left-label">B</label>
                    <span class="property-field property-field-ac">{{systemData.ac.total.blunt.ac}} / {{systemData.ac.total.blunt.dr}}</span>
                    <label class="left-label">P</label>
                    <span class="property-field property-field-ac">{{systemData.ac.total.piercing.ac}} / {{systemData.ac.total.piercing.dr}}</span>
                    <label class="left-label">S</label>
                    <span class="property-field property-field-ac">{{systemData.ac.total.slashing.ac}} / {{systemData.ac.total.slashing.dr}}</span>
                </div>
                {{#if systemData.ac.mr}}
                <div class="property">
                    <label class="property-label">MR</label>
                    <span class="property-field">{{systemData.ac.mr}}%</span>
                </div>
                {{/if}}
                {{#if systemData.ac.mdr}}
                <div class="property">
                    <label class="property-label">MDR</label>
                    <span class="property-field">{{systemData.ac.mdr}}</span>
                </div>
                {{/if}}
                <div class="property">
                    <label class="property-label">ST</label>
                    <span class="property-field">{{systemData.st}}</span>
                </div>
                <div class="property">
                    <label class="property-label">MV</label>
                    <span style="margin-right:0" class="property-field">{{systemData.mv}}</span>
                </div>
            </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        {{#if hasEquipment}}
        <a class="item" data-tab="items">Items</a>
        {{/if}}
        {{#if hasSpells}}
        <a class="item" data-tab="spells">Spells</a>
        {{/if}}
        {{#if hasFeatures}}
        <a class="item" data-tab="features">Features</a>
        {{/if}}
        <a class="item" data-tab="attributes">Attributes</a>
        {{#if isCharacter}}
        <a class="item" data-tab="voice">Voice</a>
        <a class="item" data-tab="fatigue">Fatigue</a>
        {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=systemData.description target="data.description" button=true owner=owner editable=editable rollData=rollData}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <header class="items-header sticky flexrow">
                <span>Max Dex Bonus: {{systemData.ac.max_dex_mod}}</span>
                <span>{{#if parryBonus}} Parry Bonus: {{systemData.ac.parry.parry_bonus}} {{/if}}</span>
                <span class="item-column">Quantity</span>
                <span class="item-column">Weight</span>
                <span style="max-width:74px;"></span>
            </header>
            {{#each equipment as |type key|}}
            <header class="items-header flexrow">
                <span style="text-align: center;">
                    {{#ifeq key "holdable"}}Held{{else}}
                    {{#ifeq key "wearable"}}Worn{{else}}
                    {{#ifeq key "magic"}}Misc. Magic{{else}}
                    {{#ifeq key "other"}}Other{{else}}
                    {{key}}
                    {{/ifeq}}
                    {{/ifeq}}
                    {{/ifeq}}
                    {{/ifeq}}
                </span>
            </header>
            <ol class="item-list">
                {{#each type as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-toggle">
                        {{#if item.data.macro}}
                        <a class="item-control" data-action="use" title="Use Item"><i class="fas fa-dice-d20"></i></a>
                        {{/if}}
                    </div>
                    <div class="item-toggle">
                        {{#if item.data.attributes.holdable.value}}
                        <a class="item-control {{#if item.data.held_left}}{{else}}opacity-50{{/if}}" title="Hold Item" data-type="{{item.type}}" data-action="hold_left">
                            <img style="transform: scaleX(-1);" src="https://img.icons8.com/ios-glyphs/17/000000/armored-gauntlet.png"/>
                        </a>
                        {{/if}}
                    </div>
                    <div class="item-toggle">
                        {{#if item.data.attributes.holdable.value}}
                        <a class="item-control {{#if item.data.held_right}}{{else}}opacity-50{{/if}}" title="Hold Item" data-type="{{item.type}}" data-action="hold_right">
                            <img src="https://img.icons8.com/ios-glyphs/17/000000/armored-gauntlet.png"/>
                        </a>
                        {{else if item.data.attributes.wearable.value}}
                        <a class="item-control {{#if item.data.worn}}{{else}}opacity-50{{/if}}" title="Wear Item" data-type="{{item.type}}" data-action="wear">
                            <img src="https://img.icons8.com/ios-glyphs/17/000000/armored-breastplate.png"/>
                        </a>
                        {{/if}}
                    </div>
                    <img class="item-row" data-action="edit" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name item-row" data-action="edit">{{item.name}}</h4>
                    <span class="item-row item-column" data-action="edit">{{item.data.quantity}}</span>
                    <span class="item-row item-column" data-action="edit">{{item.data.totalWeight}}</span>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-type="equipment" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-type="equipment" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            {{/each}}
            <div class="flexrow" style="margin: 0.5em 0;">
                <span style="max-width:69px;">
                </span>
                <span>
                    {{#if isGM}}
                    <a class="item-control" title="{{ localize "SIMPLE.ItemCreate" }}" data-type="item" data-action="create"><i class="fas fa-plus"></i> {{ localize "SIMPLE.ItemCreate" }}</a>
                    {{/if}}
                </span>
                <span class="item-column"></span>
                <div class="item-column"><label class="label">Total:</label><span>{{systemData.enc}}</span></div>
                <span style="max-width:82px;"></span> 
            </div>
        </div>

        {{!-- Owned Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            {{#each spells as |spelltype key|}}
            <header class="spells-header flexrow">
                <span style="text-align: center;">
                    {{#ifeq key "spell_magic"}}Magic{{else}}
                    {{#ifeq key "spell_cleric"}}Cleric{{else}}
                    {{#ifeq key "spell_witch"}}Witch{{else}}
                    {{key}}
                    {{/ifeq}}
                    {{/ifeq}}
                    {{/ifeq}}
                </span>
            </header>
                {{#each spelltype as |level key|}}
                <header class="spells-header flexrow">
                    <span>Spell Failure: {{../../systemData.ac.sf}}%</span>
                    <span style="text-align: center;">{{key}}</span>
                    <span style="text-align: right;">{{level.slots.value}} / {{level.slots.max}}</span>
                </header>
                <ol class="item-list">
                    {{#each level.spells as |spell|}}
                    <li class="item flexrow" data-item-id="{{spell._id}}">
                        <div class="item-toggle">
                            {{#if spell.data.macro}}
                            <a class="item-control" data-action="use" title="Cast Spell"><i class="fas fa-dice-d20"></i></a>
                            {{/if}}
                        </div>
                        <div class="item-toggle">
                            {{#if spell.data.attributes.lvl.value}}
                            <a class="item-control {{#if spell.data.prepared}}{{else}}opacity-50{{/if}}" title="Prepare Spell" data-type="{{spell.type}}" data-action="prepare">
                                <i class="fas fa-hand-sparkles"></i>
                            </a>
                            {{/if}}
                        </div>
                        <img class="item-row" data-action="edit" src="{{spell.img}}" title="{{spell.name}}" width="24" height="24"/>
                        <h4 class="item-name item-row" data-action="edit">{{spell.name}}</h4>
                        <div class="item-row flex3" data-action="edit">
                            {{#if spell.data.attributes.range.value}}<label class="label">Range:</label><span style="margin-right: 0.5em;">{{spell.data.attributes.range.value}}'</span>{{/if}}
                            {{#if spell.data.attributes.area.value}}<label class="label">Area:</label><span style="margin-right: 0.5em;">{{spell.data.attributes.area.value}}</span>{{/if}}
                            {{#if spell.data.attributes.duration.value}}<label class="label">Duration:</label><span>{{spell.data.attributes.duration.value}}</span>{{/if}}
                        </div>
                        <div class="item-controls">
                            <a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-type="{{spell.type}}" data-action="edit"><i class="fas fa-edit"></i></a>
                            <a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-type="{{spell.type}}" data-action="delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                {{/each}}
            {{/each}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            {{#each features as |source key|}}
            <header class="features-header flexrow">
                <span>Skill Check Penalty: {{../sp}}</span>
                <span style="text-align: left;">{{key}}</span>
            </header>
            <ol class="item-list">
                {{#each source as |feature id|}}
                <li class="item flexrow" data-item-id="{{feature._id}}">
                    <div class="item-toggle">
                        {{#if feature.data.macro}}
                            <a class="item-control" data-action="use" title="Use Feature"><i class="fas fa-dice-d20"></i></a>
                        {{/if}}
                    </div>
                    <img class="item-row" data-action="edit" src="{{feature.img}}" title="{{feature.name}}" width="24" height="24"/>
                    <h4 class="item-name item-row" data-action="edit">{{feature.name}}</h4>
                    <div class="item-row flex2" data-action="edit">
                        {{#if feature.data.attributes.st.value}}<label class="label">ST:</label><span>{{feature.data.attributes.st.value}}</span>{{/if}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-type="equipment" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-type="equipment" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            {{/each}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{#if isGM}}
            <header class="attributes-header flexrow">
                <span class="attribute-key attribute-key-wrapper">{{localize "SIMPLE.AttributeKey"}}</span>
                <span class="attribute-label attribute-key-wrapper">{{localize "SIMPLE.AttributeLabel"}}</span>
                <span class="attribute-value">{{localize "SIMPLE.AttributeValue"}}</span>
                <span class="attribute-dtype">{{localize "SIMPLE.AttributeDtype"}}</span>
                <a class="attribute-control" data-action="create" data-group="{{group}}"><i class="fas fa-plus"></i></a>
            </header>
            {{/if}}

            {{!-- Render the attribute list partial. --}}
            {{> "systems/lostlands/templates/parts/sheet-attributes.html" attributes=systemData.ungroupedAttributes dtypes=dtypes}}

            {{!-- Render the grouped attributes partial and control. --}}
            <div class="groups">
                {{> "systems/lostlands/templates/parts/sheet-groups.html" attributes=systemData.groupedAttributes groups=systemData.groups dtypes=dtypes}}

                {{#if isGM}}
                <div class="group-controls flexrow">
                    <input class="group-prefix" type="text" value=""/>
                    <a class="button group-control" data-action="create-group"><i class="fas fa-plus"></i>Add Attribute Group</a>
                </div>
                {{/if}}
            </div>
        </div>

        {{#if isCharacter}}
        {{!-- Fatigue Tab --}}
        <div class="tab fatigue" data-group="primary" data-tab="fatigue">
            <div class="flexrow">
                <label class="fatigue-label">Environment Temp.</label>
                <span class="fatigue-value">{{fatigue.tempDesc}}</span>
            </div>
            <div class="flexrow">
                <label class="fatigue-label">Personal Temp.</label>
                <span class="fatigue-value">{{fatigue.exposureDesc}}</span>
            </div>
            <div class="flexrow">
                <label class="fatigue-label">Disease</label>
                <span class="fatigue-value">{{fatigue.diseaseDesc}}</span>
            </div>
            <div class="flexrow">
                <label class="fatigue-label">Exhaustion</label>
                <span class="fatigue-value">{{fatigue.exhaustionDesc}}</span>
            </div>
            <div class="flexrow">
                <label class="fatigue-label">Thirst</label>
                <span class="fatigue-value">{{fatigue.thirstDesc}}</span>
            </div>
            <div class="flexrow">
                <label class="fatigue-label">Hunger</label>
                <span class="fatigue-value">{{fatigue.hungerDesc}}</span>
            </div>
        </div>

        {{!-- Voice Tab --}}
        <div class="tab voice" data-group="primary" data-tab="voice">
            <div class="flexrow voice-selection" {{#if hideVoiceSelection}}style="display:none;"{{/if}}>
                <div class="voice-choice">
                    <label>Voice</label>
                    <select class="voice-select" {{#if hasVoice}}disabled{{/if}}>
                        {{#select systemData.voice}}
                        {{#each voiceProfiles}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <a class="voice-preview" title="Preview Voice"><i class="fas fa-volume-up"></i></a>
                </div>
                <div><button class="voice-select-button" {{#if hasVoice}}disabled{{/if}}>Select voice</button></div>
                {{#if isGM}}
                <div><button class="voice-reset-button" {{#if noVoice}}disabled{{/if}}>Reset voice</button></div>
                {{/if}}
            </div>
            {{#if noVoice}}
            <p class="voice-note"><span class="label">Note:</span>Before selecting your voice, any sounds you play using the buttons below will be audible only to you.
                After selecting your voice, sounds you play here will be audible to everyone.
            </p>
            {{/if}}
            {{#if showSoundBoard}}
            {{#each voiceMoods}}
            <button class="voice-play" title="{{#ifeq this.mood 'party_fail'}}facepalm{{else}}{{#ifeq this.mood 'party_death'}}rip{{else}}{{#ifeq this.mood 'death'}}dying{{else}}{{#ifeq this.mood 'dying'}}wounded{{else}}{{this.mood}}{{/ifeq}}{{/ifeq}}{{/ifeq}}{{/ifeq}}" data-mood="{{this.mood}}">
                <img style="pointer-events: none;" src="{{this.icon}}" alt="{{#ifeq this.mood 'party_fail'}}facepalm{{else}}{{#ifeq this.mood 'party_death'}}rip{{else}}{{#ifeq this.mood 'death'}}dying{{else}}{{#ifeq this.mood 'dying'}}wounded{{else}}{{this.mood}}{{/ifeq}}{{/ifeq}}{{/ifeq}}{{/ifeq}}"/>
            </button>
            {{/each}}
            {{/if}}
        </div>
        {{/if}}

    </section>
</form>