<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="resource">
                <label class="label">HP</label>
                <input type="number" name="data.hp.value" value="{{systemData.hp.value}}"/>
                <span> / </span>
                <input type="number" name="data.hp.max" value="{{systemData.hp.max}}"/>
            </div>
            <div class="resource">
                <label class="label">XP</label>
                <input type="number" name="data.xp.value" value="{{systemData.xp.value}}"/>
                <span> / </span>
                <input type="number" name="data.xp.max" value="{{systemData.xp.max}}"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
        {{#if hasSpells}}
        <a class="item" data-tab="spells">Spells</a>
        {{/if}}
        {{#if hasSkills}}
        <a class="item" data-tab="skills">Skills</a>
        {{/if}}
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=systemData.biography target="data.biography" button=true owner=owner editable=editable rollData=rollData}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <header class="items-header flexrow">
                <span style="max-width:24px"></span>
                <span></span>
                <span>Quantity</span>
                <span>Weight</span>
                <span style="max-width:36px"></span>
            </header>
            <ol class="item-list">
                {{#each data.equipment as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-roll">
                        {{#if item.data.macro}}
                            <a><i class="fas fa-dice-d20"></i></a>
                        {{/if}}
                    </div>
                    <img class="item-row" data-action="edit" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name item-row" data-action="edit">{{item.name}}</h4>
                    {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <!-- <div class="item-buttons">
                        {{#each item.data.attributes as |itemAttr key|}}
                        {{#if itemAttr.dtype}}
                            {{#if itemAttr.isFormula}}
                                {{!-- Use the items.name.key format for shorthand. --}}
                                {{#if ../../shorthand}}
                                <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                {{else}}
                                <button class="item-button rollable"
                                    data-roll="@items.{{slugify item.name}}.attributes.{{key}}.value" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#each itemAttr as |itemGroupedAttr groupedKey|}}
                                {{#if itemGroupedAttr.isFormula}}
                                    {{!-- Use the items.name.key format for shorthand. --}}
                                    {{#if ../../../shorthand}}
                                    <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}.{{groupedKey}}" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                    {{else}}
                                    <button class="item-button rollable"
                                        data-roll="@items.{{slugify item.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </div> -->
                    <span class="item-row" data-action="edit">{{item.data.quantity}}</span>
                    <span class="item-row" data-action="edit">{{item.data.totalWeight}}</span>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-type="equipment" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-type="equipment" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            {{#if isGM}}
            <p>
                <a class="item-control" title="{{ localize "SIMPLE.ItemCreate" }}" data-type="item" data-action="create"><i class="fas fa-plus"></i> {{ localize "SIMPLE.ItemCreate" }}</a>
            </p>
            {{/if}}
            <header class="items-header flexrow">
                <span style="max-width:24px"></span>
                <span></span>
                <span>Movement Rate</span>
                <span>Encumbrance</span>
                <span style="max-width:36px"></span>
            </header>
            <div class="item flexrow">
                <span style="max-width:24px"></span>
                <span></span>
                <span>{{data.data.mv}}</span>
                <span>{{data.data.enc}}</span>
                <span style="max-width:36px"></span>
            </div>
        </div>

        {{!-- Owned Spells Tab --}}
        <div class="tab items" data-group="primary" data-tab="spells">
            {{#each data.spells as |spelltype key|}}
            <header class="spells-header flexrow">
                <span style="text-align: center;">{{#ifeq key "spell_magic"}}Magic Spells{{/ifeq}}{{#ifeq key "spell_cleric"}}Cleric Spells{{/ifeq}}{{#ifeq key "spell_witch"}}Witch Spells{{/ifeq}}</span>
            </header>
                {{#each spelltype as |level id|}}
                <header class="spells-header flexrow">
                    <span style="text-align: left;">Level {{id}}</span>
                    <span style="text-align: right;">{{level.slots.value}} / {{level.slots.max}}</span>
                </header>
                <ol class="item-list">
                    {{#each level.spells as |spell id|}}
                    <li class="item flexrow" data-item-id="{{spell._id}}">
                        <div class="item-roll">
                            {{#if spell.data.macro}}
                                <a><i class="fas fa-dice-d20"></i></a>
                            {{/if}}
                        </div>
                        <div style="flex: 0 0 20px;">
                            {{#if spell.data.attributes.lvl.value}}
                                <input class="prepare-spell" type="checkbox" style="margin-left:0;" {{#if spell.data.prepared}}checked{{/if}}/>
                            {{/if}}
                        </div>
                        <img class="item-row" data-action="edit" src="{{spell.img}}" title="{{spell.name}}" width="24" height="24"/>
                        <h4 class="item-name item-row" data-action="edit">{{spell.name}}</h4>
                        <div class="item-row flex3" data-action="edit">
                            {{#if spell.data.attributes.range.value}}<label class="label">Range:</label><span style="margin-right: 2em;">{{spell.data.attributes.range.value}}'</span>{{/if}}
                            {{#if spell.data.attributes.area.value}}<label class="label">Area:</label><span style="margin-right: 2em;">{{spell.data.attributes.area.value}}</span>{{/if}}
                            {{#if spell.data.attributes.duration.value}}<label class="label">Duration:</label><span style="margin-right: 2em;">{{spell.data.attributes.duration.value}}</span>{{/if}}
                        </div>
                        <div class="item-controls">
                            <a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-type="{{spell.type}}" data-action="edit"><i class="fas fa-edit"></i></a>
                            <a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-type="{{spell.type}}" data-action="delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                {{/each}}
            {{/each}}
        </div>

        {{!-- Skills Tab --}}
        <div class="tab items" data-group="primary" data-tab="skills">
            <ol class="item-list">
                {{#each data.skills as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img class="item-row" data-action="edit" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name item-row" data-action="edit">{{item.name}}</h4>
                    {{!-- Iterate through all attributes on the item and output buttons for any that are formula. --}}
                    <!-- <div class="item-buttons">
                        {{#each item.data.attributes as |itemAttr key|}}
                        {{#if itemAttr.dtype}}
                            {{#if itemAttr.isFormula}}
                                {{!-- Use the items.name.key format for shorthand. --}}
                                {{#if ../../shorthand}}
                                <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                {{else}}
                                <button class="item-button rollable"
                                    data-roll="@items.{{slugify item.name}}.attributes.{{key}}.value" data-label="{{ itemAttr.label }}"
                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>
                                {{/if}}
                            {{/if}}
                        {{else}}
                            {{#each itemAttr as |itemGroupedAttr groupedKey|}}
                                {{#if itemGroupedAttr.isFormula}}
                                    {{!-- Use the items.name.key format for shorthand. --}}
                                    {{#if ../../../shorthand}}
                                    <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}.{{groupedKey}}" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{!-- Use the items.name.attributes.key.value format otherwise. --}}
                                    {{else}}
                                    <button class="item-button rollable"
                                        data-roll="@items.{{slugify item.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ itemGroupedAttr.label }}"
                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        {{/if}}
                        {{/each}}
                    </div> -->
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize "SIMPLE.ItemEdit" }}" data-type="equipment" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize "SIMPLE.ItemDelete" }}" data-type="equipment" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key" {{#if isPlayer}}style="display:none;"{{/if}}>{{localize "SIMPLE.AttributeKey"}}</span>
                <span class="attribute-label">{{#if isPlayer}}Base Attributes{{else}}{{localize "SIMPLE.AttributeLabel"}}{{/if}}</span>
                <span class="attribute-value">{{localize "SIMPLE.AttributeValue"}}</span>
                <span class="attribute-dtype" {{#if isPlayer}}style="display:none;"{{/if}}>{{localize "SIMPLE.AttributeDtype"}}</span>
                <a class="attribute-control" data-action="create" data-group="{{group}}" {{#if isPlayer}}style="display:none;"{{/if}}><i class="fas fa-plus"></i></a>
            </header>

            {{!-- Render the attribute list partial. --}}
            {{> "systems/lostlands/templates/parts/sheet-attributes.html" attributes=systemData.ungroupedAttributes dtypes=dtypes}}

            {{!-- Render the grouped attributes partial and control. --}}
            <div class="groups">
                {{> "systems/lostlands/templates/parts/sheet-groups.html" attributes=systemData.groupedAttributes groups=systemData.groups dtypes=dtypes}}

                <div class="group-controls flexrow" {{#if isPlayer}}style="display:none;"{{/if}}>
                    <input class="group-prefix" type="text" value=""/>
                    <a class="button group-control" data-action="create-group"><i class="fas fa-plus"></i>Add Attribute Group</a>
                </div>
            </div>
        </div>
    </section>
</form>