<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" {{#if isPlayer}}disabled{{/if}}/>
            </h1>
            <div class="resource">
                <label>Quantity</label>
                <input type="number" name="data.quantity" value="{{systemData.quantity}}" {{#if isPlayer}}disabled{{/if}}/>
            </div>
            <div class="resource">
                <label>Weight</label>
                <input type="number" name="data.weight" value="{{systemData.weight}}" {{#if isPlayer}}disabled{{/if}}/>
            </div>
        </div>
    </header>

    {{!-- Render the item sheet body partial. --}}
    {{> "systems/lostlands/templates/parts/item-sheet-body.html" systemData=systemData}}
</form>