<form class="flexcol {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
      <div class="header-fields">
          <h1 class="charname">
              <input name="name" type="text" value="{{data.name}}" placeholder="Name" {{#if isPlayer}}disabled{{/if}}/>
          </h1>
          <div class="flexrow" style="padding-left: 8px;">
            <div class="spell-attribute">
              {{#if hasLevel}}<label class="label">{{spellType}} Level:</label><span style="margin-right: 0.5em;">{{systemData.attributes.lvl.value}}</span>{{/if}}
              {{#if hasRange}}<label class="label">Range:</label><span style="margin-right: 0.5em;">{{systemData.attributes.range.value}}</span>{{/if}}
              {{#if hasArea}}<label class="label">Area:</label><span style="margin-right: 0.5em;">{{systemData.attributes.area.value}}</span>{{/if}}
              {{#if hasDuration}}<label class="label">Duration:</label><span>{{systemData.attributes.duration.value}}</span>{{/if}}
            </div>
          </div>
        </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">Description</a>
      {{#if isGM}}
      <a class="item" data-tab="attributes">Attributes</a>
      <a class="item" data-tab="macro">Macro</a>
      {{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
          {{editor content=systemData.description target="data.description" button=true owner=owner editable=editable rollData=rollData}}
      </div>

      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
          <header class="attributes-header flexrow">
              <span class="attribute-key">{{localize "SIMPLE.AttributeKey"}}</span>
              <span class="attribute-label">{{localize "SIMPLE.AttributeLabel"}}</span>
              <span class="attribute-value">{{localize "SIMPLE.AttributeValue"}}</span>
              <span class="attribute-dtype">{{localize "SIMPLE.AttributeDtype"}}</span>
              <a class="attribute-control" data-action="create" data-group="{{group}}"><i class="fas fa-plus"></i></a>
          </header>

          {{!-- Render the attribute list partial. --}}
          {{> "systems/lostlands/templates/parts/sheet-attributes.html" attributes=systemData.ungroupedAttributes dtypes=dtypes}}

          {{!-- Render the grouped attributes partial and control. --}}
          <div class="groups">
              {{> "systems/lostlands/templates/parts/sheet-groups.html" attributes=systemData.groupedAttributes groups=systemData.groups dtypes=dtypes}}
              <div class="group-controls flexrow">
                  <input class="group-prefix" type="text" value=""/>
                  <a class="button group-control" data-action="create-group"><i class="fas fa-plus"></i>Add Attribute Group</a>
              </div>
          </div>
      </div>

      {{!-- Macro Tab --}}
      <div class="tab" data-group="primary" data-tab="macro">
        <textarea name="data.macro" rows="16">{{systemData.macro}}</textarea>
          <!-- {{editor content=systemData.macro target="data.macro" button=true owner=owner editable=editable rollData=rollData}} -->
      </div>
  </section>
</form>