<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" {{#if isPlayer}}disabled{{/if}}/>
            </h1>
            <div class="properties">
                {{#if range}}
                <div class="property">
                    <label class="property-label">Range</label>
                    <span class="property-field">{{range}}'</span>
                </div>
                {{/if}}
                {{#if area}}
                <div class="property">
                    <label class="property-label">Area</label>
                    <span class="property-field">{{area}}</span>
                </div>
                {{/if}}
                {{#if duration}}
                <div class="property">
                    <label class="property-label">Duration</label>
                    <span class="property-field">{{duration}}</span>
                </div>
                {{/if}}
                {{#if time}}
                <div class="property">
                    <label class="property-label">Time</label>
                    <span class="property-field">{{time}}</span>
                </div>
                {{/if}}
            </div>
        </div>
    </header>

    {{!-- Render the item sheet body partial. --}}
    {{> "systems/lostlands/templates/parts/item-sheet-body.html" systemData=systemData}}
</form>