<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" {{#if isPlayer}}readonly{{/if}}/>
            </h1>
            <div class="properties">
                {{#each props as |value label|}}
                <div class="property">
                    <label class="property-label">{{label}}</label>
                    <span class="property-field">{{value}}</span>
                </div>
                {{/each}}
            </div>
        </div>
    </header>

    {{!-- Render the item sheet body partial. --}}
    {{> "systems/lostlands/templates/parts/item-sheet-body.html" systemData=systemData}}
</form>