@font-face {
  font-family: 'Chivo Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/chivomono/v9/mFThWbgRxKvF_Z5eQMO9qRMrJJrnKNtC3D7hr6fV.ttf) format('truetype');
}
@font-face {
  font-family: 'IM Fell English';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/imfellenglish/v14/Ktk3ALSLW8zDe0rthJysWrnLsAzHFaOd.ttf) format('truetype');
}
@font-face {
  font-family: 'IM Fell English';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/imfellenglish/v14/Ktk1ALSLW8zDe0rthJysWrnLsAz3Fw.ttf) format('truetype');
}
body,
button,
select {
  font-family: 'IM Fell English';
  font-size: 16px;
}
.brigandine {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}
.brigandine .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}
.brigandine form {
  height: 100%;
}
.brigandine .label {
  font-weight: bold;
  margin-right: 8px;
}
.brigandine .spell-attribute {
  margin-top: 10px;
}
.brigandine .sheet-header {
  flex: 0 0 150px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: unset !important;
  margin-bottom: 5px;
}
.brigandine .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 150px;
  margin-right: 10px;
  max-width: 150px;
  object-fit: cover;
}
.brigandine .sheet-header .header-fields {
  flex: 1;
}
.brigandine .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.brigandine .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.brigandine .sheet-header .resource {
  width: 50%;
  height: 38px;
  margin-top: 8px;
  float: left;
  text-align: center;
}
.brigandine .sheet-header .resource input {
  width: 75px;
  height: 28px;
}
.brigandine .sheet-header .resource .level-controls {
  width: 12px;
  display: inline-block;
  margin-left: 5px;
}
.brigandine .sheet-header .merchant-resource {
  width: 50%;
  height: 38px;
  margin-top: 8px;
  float: left;
  text-align: center;
}
.brigandine .sheet-header .merchant-resource input {
  width: 145px;
  height: 28px;
}
.brigandine .sheet-header .properties {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.brigandine .sheet-header .property {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.brigandine .sheet-header .property-label {
  width: 100%;
}
.brigandine .sheet-header .property-field {
  background: rgba(0, 0, 0, 0.05);
  padding: 2px 5px;
}
.brigandine .sheet-header .property-field-ac {
  margin-right: 5px;
}
.brigandine .tabs {
  flex: 0 0 40px;
  height: 40px !important;
  border: none !important;
}
.brigandine .tabs .item {
  line-height: 36px;
  font-weight: bold;
  border-bottom: inset;
  overflow: hidden;
  max-height: 40px;
}
.brigandine .tabs .item.active {
  border: outset;
  border-bottom: none;
  text-shadow: none;
}
.brigandine .sheet-body {
  overflow: hidden;
}
.brigandine .sheet-body .list-box {
  padding: 5px 10px;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;
  background: #f0f0e0;
}
.brigandine .sheet-body .list-box option {
  padding-top: 4px;
}
.brigandine .sheet-body li:not(:last-child) {
  margin-bottom: 4px;
}
.brigandine .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.brigandine .editor,
.brigandine .editor-content {
  height: 100%;
}
.brigandine .editor-content {
  padding: 0 5px;
}
.brigandine .items .item-column {
  text-align: right;
  flex: 0 0 65px;
  margin-right: 5px;
}
.brigandine .items .item-column-total {
  text-align: right;
  margin-right: 5px;
}
.brigandine .items .item-price-column {
  flex: 0 0 125px;
}
.brigandine .item-list {
  list-style: none;
  margin: 5px 0;
  padding: 0;
  overflow-y: auto;
}
.brigandine .item-list .item {
  min-height: 30px;
  border-bottom: 1px solid #bbb;
  align-items: stretch;
}
.brigandine .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.brigandine .item-list .item-name {
  margin: 0;
}
.brigandine .item-list .item-controls {
  margin-left: 46px;
  flex: 0 0 36px;
}
.brigandine .item-list .item-control img,
.brigandine .item-list .item-control i {
  border: none;
  vertical-align: middle;
  margin: auto;
}
.brigandine .item-list .item-controls-left {
  flex: 0 0 36px;
  text-align: right;
}
.brigandine .item-list .item-toggle {
  flex: 0 0 18px;
  text-align: center;
  margin-right: 5px;
}
.brigandine .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.brigandine .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.brigandine .attributes {
  position: relative;
}
.brigandine .attributes .attribute-control,
.brigandine .attributes .group-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.brigandine .attributes .attribute-roll {
  flex: 0 0 20px;
  text-align: center;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brigandine .attributes .group-prefix {
  height: 31px;
  margin-right: 10px;
}
.brigandine .attributes .button {
  width: 100%;
  flex: 1;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  display: block;
}
.brigandine .attributes .attribute-key,
.brigandine .attributes .attribute-label {
  background: transparent;
  border: none;
}
.brigandine .attributes-header,
.brigandine .items-header,
.brigandine .spells-header,
.brigandine .features-header,
.brigandine .armors-header {
  z-index: 99999;
  top: 0;
  left: 0;
  align-items: center;
  padding: 2px 5px;
  background: #cfcdc2;
  border: 1px solid #aaa;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
  min-height: 35px;
}
.brigandine .armors-header > * {
  min-width: fit-content;
}
.brigandine .sticky {
  position: sticky;
}
.brigandine .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.brigandine .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
}
.brigandine .attributes-list .attribute-col {
  flex: 1;
}
.brigandine .attributes-list .attribute-col label {
  font-size: 10px;
  text-align: center;
  line-height: 1;
}
.brigandine .attributes-list .attribute-col input {
  text-align: center;
  line-height: 24px;
  height: 28px;
}
.brigandine .exhaustion-label,
.brigandine .exhaustion-value {
  margin: 0 3px;
  padding: 1px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
}
.brigandine .exhaustion-value:read-only {
  pointer-events: none;
}
.brigandine .attribute-key-wrapper {
  max-width: 263px;
}
.brigandine .exhaustion-label {
  max-width: 30%;
}
.brigandine .attribute input[type='text']::placeholder,
.brigandine .group-header input[type='text']::placeholder {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.brigandine .attribute input[type='text']:focus::placeholder,
.brigandine .group-header input[type='text']:focus::placeholder {
  opacity: 1;
}
.brigandine .group-controls {
  margin: 5px;
}
.brigandine .groups-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.brigandine .group {
  margin: 5px 0 0;
  padding: 0;
}
.brigandine .group-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 2px 5px;
  font-weight: bold;
  line-height: 28px;
}
.brigandine .group-key,
.brigandine .group-label {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  border-radius: 0;
  margin-right: 6px;
}
.brigandine .group-key {
  opacity: 0.75;
}
.brigandine .group-label {
  flex: 2;
}
.brigandine .group-dtype {
  height: 24px;
  flex: 0 0 116px;
  margin: 0 5px;
}
.brigandine .tab.voice {
  padding: 0 5px;
}
.brigandine .voice-select-button,
.brigandine .voice-reset-button {
  width: auto;
}
.brigandine .voice-play {
  width: auto;
  padding: 5px;
  margin: 3px 1px;
  vertical-align: bottom;
}
.brigandine .voice-play img {
  display: block;
  min-height: 50px;
  min-width: 50px;
}
.brigandine .voice-selection {
  align-items: center;
}
.brigandine .voice-selection div {
  padding: 5px;
}
.brigandine .voice-choice {
  text-align: right;
}
.brigandine .armors-list h4 {
  margin-bottom: 0;
}
.brigandine .armors-list li {
  padding: 6px 0;
  margin: 0 3px;
  min-height: 30px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
}
.brigandine .text-center {
  text-align: center;
}
/* create Actor Sheet */
.brigandine.sheet.create-actor label {
  display: block;
  font-weight: bold;
}
.brigandine.sheet.create-actor .create-actor-sheet-header {
  flex-basis: unset;
}
.brigandine.sheet.create-actor .create-actor-sheet-header .data-fields {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.brigandine.sheet.create-actor .create-actor-sheet-header .data-fields label {
  display: inline-block;
}
.brigandine.sheet.create-actor .sheet-tabs a.disabled {
  pointer-events: none;
  color: #5a5a5a;
  font-weight: normal;
}
.brigandine.sheet.create-actor .sheet-body .tab.gender-race {
  padding: 5px 20px 0;
}
.brigandine.sheet.create-actor .sheet-body .tab.gender-race .gender-container,
.brigandine.sheet.create-actor .sheet-body .tab.gender-race .race-container {
  margin: 5px 0 20px;
  display: flex;
  justify-content: space-between;
}
.brigandine.sheet.create-actor .sheet-body .tab.gender-race .gender-description,
.brigandine.sheet.create-actor .sheet-body .tab.gender-race .race-description {
  width: 65%;
}
.brigandine.sheet.create-actor .sheet-body .tab.gender-race hr {
  margin-bottom: 20px;
}
.brigandine.sheet.create-actor .sheet-body .tab.abilities {
  padding: 5px 20px 0;
}
.brigandine.sheet.create-actor .sheet-body .tab.abilities .abilities-label {
  margin-bottom: 5px;
}
.brigandine.sheet.create-actor .sheet-body .tab.abilities .ability-heading {
  font-family: 'Chivo Mono', monospace;
}
.brigandine.sheet.create-actor .sheet-body .tab.abilities .select-abilities {
  font-family: 'Chivo Mono', monospace;
  width: 270px;
}
.brigandine.sheet.create-actor .sheet-body .tab.abilities .abilities-container {
  margin: 5px 0 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.brigandine.sheet.create-actor .sheet-body .tab.alignment {
  padding: 5px 20px 0;
}
.brigandine.sheet.create-actor .sheet-body .tab.alignment .alignment-container {
  margin: 5px 0 20px;
  display: flex;
  justify-content: space-between;
}
.brigandine.sheet.create-actor .sheet-body .tab.alignment .alignment-description {
  width: 65%;
}
.brigandine.sheet.create-actor .sheet-body .tab.origin {
  padding: 5px 20px 0;
}
.brigandine.sheet.create-actor .sheet-body .tab.origin .origin-container {
  margin: 5px 0 20px;
  display: flex;
  justify-content: space-between;
}
.brigandine.sheet.create-actor .sheet-body .tab.origin .origin-description {
  width: 65%;
}
.brigandine.sheet.create-actor .sheet-body .tab.origin .origin-description label {
  display: inline-block;
}
.brigandine.sheet.create-actor .sheet-body .tab.class {
  padding: 5px 20px 0;
}
.brigandine.sheet.create-actor .sheet-body .tab.class .class-container {
  margin: 5px 0 20px;
  display: flex;
  justify-content: space-between;
}
.brigandine.sheet.create-actor .sheet-body .tab.class .class-description {
  width: 65%;
}
.brigandine.sheet.create-actor .sheet-body .tab.class .class-description label {
  display: inline-block;
}
.brigandine.sheet.create-actor .sheet-body .tab.appearance {
  padding: 5px 20px 0;
}
.brigandine.sheet.create-actor .sheet-body .tab.appearance hr {
  margin-bottom: 20px;
}
.brigandine.sheet.create-actor .sheet-body .tab.appearance .name-voice-container {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.brigandine.sheet.create-actor .sheet-body .tab.appearance .name-voice-container .name-label,
.brigandine.sheet.create-actor .sheet-body .tab.appearance .name-voice-container .voice-label {
  margin-bottom: 5px;
}
.brigandine.sheet.create-actor .sheet-body .tab.appearance .name-voice-container .name-container {
  flex-grow: 1;
}
.brigandine.sheet.create-actor .sheet-body .tab.appearance .name-voice-container .voice-container a.voice-preview {
  margin-left: 5px;
}
.brigandine.sheet.create-actor .sheet-body .tab.appearance .name-voice-container .voice-container a.voice-preview i {
  vertical-align: middle;
}
.brigandine.sheet.create-actor .sheet-body .tab.appearance .portrait-container {
  display: flex;
  margin: 5px 0 20px;
  justify-content: center;
  flex-flow: column;
}
.brigandine.sheet.create-actor .sheet-body .tab.appearance .portrait-container .profile-img-and-submit {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.brigandine.sheet.create-actor .sheet-body .tab.appearance .portrait-container .profile-img-and-submit .profile-label {
  margin-bottom: 5px;
  text-align: center;
}
.brigandine.sheet.create-actor .sheet-body .tab.appearance .portrait-container .profile-img-and-submit .profile-img {
  height: 260px;
  max-width: 175px;
  object-fit: cover;
}
.brigandine.sheet.create-actor
  .sheet-body
  .tab.appearance
  .portrait-container
  .profile-img-and-submit
  .character-create-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
}
.brigandine.sheet.create-actor
  .sheet-body
  .tab.appearance
  .portrait-container
  .profile-img-and-submit
  .character-create-container
  button {
  height: 50px;
}
.brigandine.sheet.create-actor .sheet-body .tab.appearance .portrait-container .portrait-img-options {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.brigandine.sheet.create-actor
  .sheet-body
  .tab.appearance
  .portrait-container
  .portrait-img-options
  .portrait-img-option {
  height: 90px;
  max-width: 60px;
}
/* Actor Sheet */
.brigandine.sheet.actor {
  min-width: 575px;
  min-height: 420px;
}
.brigandine.sheet.actor .container-header,
.brigandine.sheet.actor .merchant-header {
  flex: 0 0 100px;
}
.brigandine.sheet.actor .sheet-header .container-img,
.brigandine.sheet.actor .sheet-header .merchant-img {
  flex: 0 0 75px;
  height: 100px;
  max-width: 100px;
}
/* Item Sheet */
.brigandine.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
.brigandine.sheet.item .sheet-header {
  flex: 0 0 100px;
}
.brigandine.sheet.item .sheet-header .profile-img {
  flex: 0 0 75px;
  height: 100px;
  max-width: 100px;
}
.brigandine.sheet.item .sheet-header .item-resources {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.brigandine.sheet.item .sheet-header .item-resources .item-resource {
  height: 38px;
  text-align: center;
}
.brigandine.sheet.item .sheet-header .item-resources .item-resource input {
  width: 55px;
  height: 28px;
}
.dialog .dialog-button {
  background: rgba(0, 0, 0, 0.1) !important;
  border: 2px groove #f0f0e0 !important;
  margin: 2px !important;
}
.dialog .dialog-buttons {
  margin: -2px !important;
}
.dialog-content .stance-button {
  background: none;
  flex: 1;
  min-width: 30%;
  border: 2px groove #f0f0e0;
}
.dialog-content .selected-button {
  background: rgba(0, 0, 0, 0.1);
}
.dialog-content .choice-button {
  flex: 1;
  min-width: 40%;
  border: 2px groove #f0f0e0;
  background: rgba(0, 0, 0, 0.1);
  margin: 1px;
}
.dialog-content .stance-buttons {
  justify-content: center;
  margin-top: 2px;
}
.dialog-content .aim-buttons {
  justify-content: center;
}
.dialog-content .prep-buttons {
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 1em;
}
.dialog-content .stance-label {
  align-self: center;
}
.dialog-content .aim-label {
  align-self: auto;
  line-height: 2.3em;
}
.chat-message .emote {
  background: #ede3ca;
}
.chat-message .message-content * {
  user-select: text;
}
input:disabled {
  color: #191813;
}
.opacity-50 {
  opacity: 0.5;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flex5 {
  flex: 5;
}
.flex6 {
  flex: 6;
}
.flex7 {
  flex: 7;
}
