.lostlands {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}
.lostlands .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}
.lostlands form {
  height: 100%;
}
.lostlands .label {
  font-weight: bold;
  margin-right: 0.25em;
}
.lostlands .spell-attribute {
  margin-top: 10px;
}
.lostlands .sheet-header {
  flex: 0 0 150px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: unset!important;
  margin-bottom: 5px;
}
.lostlands .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 150px;
  margin-right: 10px;
  max-width: 150px;
  object-fit: cover;
}
.lostlands.sheet.item .sheet-header,
.lostlands .sheet-header.container-header {
  flex: 0 0 100px;
}
.lostlands.sheet.item .sheet-header .profile-img,
.lostlands .sheet-header .profile-img.container-img {
  flex: 0 0 75px;
  height: 100px;
  max-width: 100px;
}
.lostlands .sheet-header .header-fields {
  flex: 1;
}
.lostlands .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.lostlands .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.lostlands .resource, .lostlands .resource.container-resource {
  width: 50%;
  height: 40px;
  margin-top: 8px;
  float: left;
  text-align: center;
}
.lostlands .resource.container-resource {
  width: 100%;
}
.lostlands .resource input {
  width: 75px;
  height: 28px;
}
.lostlands .tabs {
  flex: 0 0 40px;
  height: 40px!important;
  border: none!important;
}
.lostlands .tabs .item {
  line-height: 36px;
  font-weight: bold;
  border-bottom: inset;
}
.lostlands .tabs .item.active {
  border: outset;
  border-bottom: none;
}
.lostlands .tabs .item.active {
  text-shadow: none;
}
.lostlands .sheet-body {
  overflow: hidden;
}
.lostlands .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.lostlands .editor,
.lostlands .editor-content {
  height: 100%;
}
.lostlands .editor-content {
  padding: 0 5px;
}
.lostlands .item-list {
  list-style: none;
  margin: 5px 0;
  padding: 0;
  overflow-y: auto;
}
.lostlands .items .item-column {
  text-align: right;
  flex: 0 0 65px;
  margin-right: 5px;
}
.lostlands .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  align-items: stretch;
}
.lostlands .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.lostlands .item-list .item-name {
  margin: 0;
}
.lostlands .item-list .item-controls {
  margin-left: 46px;
  flex: 0 0 36px;
}
.lostlands .item-list .item-control img,
.lostlands .item-list .item-control i {
  border: none;
  vertical-align: middle;
  margin: auto;
}
.lostlands .item-list .item-controls-left {
  flex: 0 0 36px;
  text-align: right;
}
.lostlands .item-list .item-toggle {
  flex: 0 0 18px;
  text-align: center;
  margin-right: 5px;
}
.opacity-50 {
  opacity: 0.5;
}
.lostlands .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.lostlands .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.lostlands .attributes {
  position: relative;
}
.lostlands .attributes .attribute-control,
.lostlands .attributes .group-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.lostlands .attributes .attribute-roll {
  flex: 0 0 20px;
  text-align: center;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lostlands .attributes .group-prefix {
  height: 31px;
  margin-right: 10px;
}
.lostlands .attributes .button {
  width: 100%;
  flex: 1;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  display: block;
}
.lostlands .attributes .attribute-key {
  background: transparent;
  border: none;
}
.lostlands .attributes .attribute-label {
  background: transparent;
  border: none;
}
.lostlands .attributes-header {
  position: sticky;
  z-index: 99999;
  top: 0;
  left: 0;
  align-items: center;
  padding: 2px 5px;
  background: #cfcdc2;
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
  line-height: 28px;
}
.lostlands .items-header {
  position: sticky;
  z-index: 99999;
  top: 0;
  left: 0;
  align-items: center;
  padding: 2px 5px;
  background: #cfcdc2;
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
  line-height: 28px;
}
.lostlands .spells-header {
  top: 0;
  left: 0;
  align-items: center;
  padding: 2px 5px;
  background: #cfcdc2;
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
  line-height: 28px;
}
.lostlands .features-header {
  top: 0;
  left: 0;
  align-items: center;
  padding: 2px 5px;
  background: #cfcdc2;
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
  line-height: 28px;
}
.lostlands .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lostlands .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}
.lostlands .attributes-list .attribute-col {
  flex: 0 0 41px;
}
.lostlands .attributes-list .attribute-col label {
  font-size: 10px;
  text-align: center;
  line-height: 1;
}
.lostlands .attributes-list .attribute-col input {
  font-size: 11px;
  text-align: center;
  line-height: 1;
  height: 50%;
}
.lostlands .attribute input[type="text"]::placeholder,
.lostlands .group-header input[type="text"]::placeholder {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.lostlands .attribute input[type="text"]:focus::placeholder,
.lostlands .group-header input[type="text"]:focus::placeholder {
  opacity: 1;
}
.lostlands .group-controls {
  margin: 5px;
}
.lostlands .groups-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lostlands .group {
  margin: 5px 0 0;
  padding: 0;
}
.lostlands .group-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  padding: 2px 5px;
  font-weight: bold;
  line-height: 28px;
}
.lostlands .group-key,
.lostlands .group-label {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #AAA;
  background: transparent;
  border-radius: 0;
  margin-right: 6px;
}
.lostlands .group-key {
  opacity: 0.75;
}
.lostlands .group-label {
  flex: 2;
}
.lostlands .group-dtype {
  height: 24px;
  flex: 0 0 116px;
  margin: 0 5px;
}
.lostlands.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.lostlands.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
.lostlands .tab.voice {
  padding: 0 5px;
}
.lostlands .voice-select-button,
.lostlands .voice-reset-button {
  width: auto;
}
.lostlands .voice-play {
  width: auto;
  padding: 5px;
  margin: 3px 1px;
  vertical-align: bottom;
}
.lostlands .voice-play img {
  display: block;
  min-height: 50px;
  min-width: 50px;
}
.lostlands .voice-selection {
  align-items: center;
}
.lostlands .voice-selection div {
  padding: 5px;
}
.lostlands .voice-choice {
  text-align: right;
}
