<ol class="groups-list">
    {{#each groups as |group groupKey|}}
    <li class="group" data-group="{{groupKey}}">
        <div class="group-header flexrow" {{#if group.show}}{{else}}style="display:none;"{{/if}}>
            <input class="group-key" type="text" readonly name="data.groups.{{groupKey}}.key" value="{{groupKey}}" {{#if ../isPlayer}}style="display:none;"{{/if}} />
            {{#if ../isPlayer}}
            <span class="attribute-label" name="data.groups.{{groupKey}}.label">{{group.label}}</span>
            {{else}}
            <input class="group-label" type="text" name="data.groups.{{groupKey}}.label" value="{{group.label}}" placeholder="Group Label" />
            <select class="group-dtype" name="data.groups.{{groupKey}}.dtype">
                {{#select group.dtype}}
                {{#each ../dtypes as |t|}}
                <option value="{{t}}">{{t}}</option>
                {{/each}}
                {{/select}}
            </select>
            {{/if}}
            <a class="attribute-control" data-action="create" data-group="{{groupKey}}" data-dtype="{{group.dtype}}" {{#if ../isPlayer}}style="display:none;"{{/if}}><i class="fas fa-plus"></i></a>
            <a class="group-control" data-action="delete-group" {{#if ../isPlayer}}style="display:none;"{{/if}}><i class="fas fa-trash"></i></a>
        </div>
        {{> "systems/lostlands/templates/parts/sheet-attributes.html" isPlayer=../isPlayer attributes=group.attributes group=groupKey dtypes=../dtypes}}
    </li>
    {{/each}}
</ol>